[Unit]
Description=Remote Player COMM Service

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/opt/remote_video_player/commService/serviceComm
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity
StandardOutput=null
StandardError=null

[Install]
WantedBy=graphical.target

